body{background-color: #e7f707; font-family: Arial, sans-serif; margin: 40px;}
H1{color: #290391; text-align: center;}
H2{color: #0566d4; text-align: center;}
p{color: #0540e0; font-size: 23px; line-height: 3; text-align: justify;}
li{color: #e76a03; font-size: 16px; line-height: 1.5;}
#MyGraffitiBlog{background-color: #53a8f7; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgb(3, 253, 178);}
#traingraff.jpg{background-color: #fa3e05; padding: 20px; border-radius: 20px; box-shadow: 0 4px 8px rgba(230, 94, 4, 0.959);}
#mylist{background-color: hsla(120, 1%, 83%, 0.973); padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(230, 94, 4, 0.959);}
#legalproductiongraff.jpg{background-color: #340ba5; padding: 30px; border-radius: 50px; box-shadow: 0 4px 8px rgba(5, 213, 250, 0.959);}