body{background-color: #e7f707; font-family: Arial, sans-serif; margin: 40px;}
H1{color: #290391; text-align: center;}
H2{color: #0566d4; text-align: center;}
p{color: #0540e0; font-size: 16px; line-height: 1.5; text-align: justify;}
li{color: #4c05a8; font-size: 16px; line-height: 1.5;}
#MyGraffitiBlog{background-color: #53a8f7; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgb(3, 253, 178);}
#traingraff.jpg{display: block; margin: 20px auto; max-width: 100%; height: auto; border: 2px solid #fd0303;}